*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background: #313852;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #313852;
    
    background-size: cover;
    opacity: 0.8;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 8%;
    height: 2px;
    background: aqua ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin-left: 870px;
    margin-top: 7%;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.box-img{
    border-radius: 0%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 100;
}
.box p{
    font-size: 20px;

}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;


}
.sci{
    margin-left:95px;
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-left: 10px;
}
.sci li a{
    color: white;
    margin-left: 45px;
    font-size: 3em;
    color: white;
}
.sci li a:hover{
    color:#594848;
}

    
    .box-1{
        width: 450px;
        background: rgba(0, 0, 0, 0.4);
        padding: 40px;
        text-align: center;
        margin-left: 80px;
        margin-top: -525px;
        color: aliceblue;
        font-family: 'Courier New', Courier, monospace;
    }
    .box-1-img{
        border-radius: 0%;
        width: 190px;
        height: 200px;
    }
    .box-1 h1{
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 100;
    }
    .box-1 p{
        font-size: 20px;
    
    }
    .box-1 li{
        display: inline-block;
        margin: 6px;
        list-style: none;
    
    
    }
    .scii{
        margin-left:95px;
        margin-top: 40px;
        display: flex;
    }
    .scii li{
        list-style: none;
        margin-left: 10px;
    }
    .scii li a{
        color: white;
    margin-left: 45px;
    font-size: 3em;
    color: white;
    }
    
    .scii li a:hover{
        color:#382424;
    }
    .text{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 70%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        background: #313852;
    }
    .text h1{
        font-size: 65px;
        font-family: 'Courier New', Courier, monospace;
    }
    .inf {
        display:flex;
        justify-content: center;
        margin-top: 250px;
      }
      .informatii {
       
        border: 2px solid;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding: 30px;
        top: 300%;
        width: 1300px;
        text-align: justify;
        font-family: 'Courier New', Courier, monospace;
      }
    
        