*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    outline: none;
    
    
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    
    
}

.header{

    min-height: 100vh;
    width: 100%;
    
  
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 8%;
    height: 2px;
    background: blue ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
header {
  background-color: #f2f2f2;
  padding: 20px;
}

.text-box {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}


.view {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.col2 {
  flex-basis: 100%;
}

.col3 {
  flex-basis: 100%;
  margin: 0 auto;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-title{

  margin-left: 300px;
  margin-top: 90px;
  color: rgb(76, 76, 150);
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-title h1{
  font-size: 32px;
  line-height: 50px;
}
.contact-title h2{
  font-size: 16px;
  
}
form{
  margin-left: 300px;

  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 600px;
  border:none;
  outline: none;
  border-bottom: 1px solid gray;
  color:#3939d6;
  font-size: 18px;
  margin-bottom: 16px;
}
input{
  height: 45px;
}
form .submit{
  background: #504ac4;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover{
  background-color: #9a97e1;
  cursor: pointer;
}