*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #303433;

}
body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.side{
    background-image: url(images/c.jpg) ;
    background-size: 100% 105%;
    opacity: 0.6;
}
.side img{
    width: 100%;
    max-width: 100%;
    opacity: 0.5;
}
.login-container{
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.separator{
    width: 150px;
    height: 4px;
    background-color: blueviolet;
    margin: 24px;
}
.welcome-message{
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color:blue;}

    .login-form{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .form-control{
        width: 100%;
        position: relative;
        margin-bottom: 24px;
    }
    input,button{
        border: none;
        outline: none;
        background-color: sandybrown;
        border-radius: 30px;
        font-size: 1.1em;
    }
    input{
        width: 100%;
        background: rgb(210, 212, 247);
        color: rgb(187, 253, 253);
        letter-spacing: 0.5px;
        padding: 14px 64px;
    }
    input:focus ~ i {
        color: #8b33c5;
    }
    button.submit {
        color: aliceblue;
        padding: 14px 64px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        background-image: linear-gradient(to right, #8b33c5, #15a0e1);
        cursor: pointer;
         transition: opacity 0.5s;
        }
        button.submit:hover{
            opacity: 0.5;
        }
        .form-text{
            margin-top: 5%;
            text-align: left;
        }
        .form-link{
            color:rgb(121, 127, 243);
            text-decoration: none;
            cursor: pointer;
        }
        .form-link:hover{
            text-decoration: underline;
        }
        
        @media (max-width: 780px)
        {    body{
            display:flex;
            justify-content: center;
            align-items: center;
        }
            .side{
                display: none;
            }
        }