body {
    background: linear-gradient(rgba(4,8,30,0.7),rgba(4,9,30,0.7));
}
.header{
    background-size: cover;
    opacity: 0.9;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 8%;
    height: 2px;
    background: rgb(41, 5, 113) ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.login-container{
    margin-top: -80px;
    margin-left: 520px;
    max-width: 450px;
    
    flex-direction: column;
    align-items: center;

}
.title{
    color: #ccc;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.separator{
    
    width: 440px;
    height: 5px;
    background-color: rgb(31, 6, 114);
    margin: 14px;
}
.welcome-message{
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 30px;
    color:rgb(244, 244, 252);}
.form {
    margin-left: 575px;
    margin-top: 40px;
    width: 300px;
    padding: 30px 25px;
    background: white;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
        background: rgb(210, 212, 247);
        color: rgb(7, 4, 155);
        letter-spacing: 0.5px;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: aliceblue;
        padding: 14px 64px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 30px;
        background: linear-gradient(to right, #8b33c5, #15a0e1);
        cursor: pointer;
         transition: opacity 0.5s;    
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.login-button:hover{
    opacity: 0.5;
}
.link {
    color:rgb(121, 127, 243);
            text-decoration: none;
            cursor: pointer;
}
.link a {
    color: #0b0eb1;
}
.link:hover{
    text-decoration: underline;
}
h3 {
    font-weight: normal;
    text-align: center;
}
